@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #006e2e;
  --color-primary-hover: #3CB371;
  --color-primary-active: #1e7e34;

  --color-secondary: #fd7e14;
  --color-secondary-hover: #e67300;
  --color-secondary-active: #cc6600;
  
  --color-sidebar-background: #261E67;
  --color-hover-sidebar-background: #261E7E;
  
  --primary-color: #218838;
  --secondary-color: #28a745;
  --alt-secondary-color: #1e7e34;
  --primary-heading-color: #ED1C25;
  --secondary-heading-color: #000000;
  --alt-secondary-text-color: #595959;
  --optional-color: #01198D;
}

/* Primary Green Button */
.btn-primary {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

/* Secondary Orange Button */
.btn-secondary {
  background-color: var(--color-secondary);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: var(--color-secondary-hover);
}
/* tis is not working */
.btn-spinner {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

.text-primary{
  color:#3CB371
}

* {
  font-family: 'Roboto', 'Poppins', sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.custom-scrollbar {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}
